body{
    margin: 0;
    background: #ECECEE;
}
a{
    text-decoration: none;
}
#temHead{
    display: block;
    height: 60px;
    background: #3b9c9d;
    overflow: hidden;
}
#temLogo{
    display: block;
    width: 225px;
    height: 45px;
    background: url('#{request.contextPath}/contracts/green/images/template/logo_g.png') no-repeat;
}
#temLeft{
    display: block;
    left: 0;
    position: absolute;
    width: 250px;
    float: left;
    background: #fff;
}
#temLeft2{
    display: block;
    left: 0;
    position: absolute;
    width: 35px;
    float: left;
    background: #fff;
}
#temRight{
    display: block;
    top: 0;
    position: absolute;
}
.temTab{
    display: block;
    background: #ececee;
    width: 100%;
    height: 35px;
}
.temIcon{
    float:right;
    display: block;
    width: 35px;
    height: 35px;
    background: url('#{request.contextPath}/contracts/green/images/template/icontogle.png');
    cursor: pointer;
}
.temIcon:hover{
    background: url('#{request.contextPath}/contracts/green/images/template/icontoglehover.png');
}
.temIcon2{
    float:right;
    display: block;
    width: 35px;
    height: 35px;
    background: url('#{request.contextPath}/contracts/purple/images/template/icontogle.png');
    cursor: pointer;
}
.temIcon2:hover{
    background: url('#{request.contextPath}/contracts/purple/images/template/icontoglehover.png');
}
.temMenu{
    text-decoration: none;
    display: block;
    color: #737373;
    font-weight: normal;
    font-size: 14px;
    font-family: tahoma;
    vertical-align: bottom;
    padding: 15px 15px 15px 15px;
    line-height: 24px;
    background: #fff;
}
.temMenu:hover{
    color: #000;
    background: #f7f7f7;
}
.temIconSize24{
    width: 24px;
    height: 24px;
    float: left;
}
.temMarginRight5{
    margin-right: 5px;   
}
.temMarginRight10{
    margin-right: 10px;   
}
.temMarginRight15{
    margin-right: 15px;   
}
.temMarginRight20{
    margin-right: 20px;   
}
.temMarginLeft5{
    margin-right: 5px;   
}
.temMarginLeft10{
    margin-right: 10px;   
}
.temMarginLeft15{
    margin-right: 15px;   
}
.temMarginLeft20{
    margin-right: 20px;   
}
.temIconBackgroundHome{
    background: url('#{request.contextPath}/contracts/green/images/template/iconspy24.png') no-repeat !important;
    background-position: 0px 0px !important;
}
.temIconBackgroundImportData{
    background: url('#{request.contextPath}/contracts/green/images/template/iconspy24.png') no-repeat !important;
    background-position: 0px -144px !important;
}
.temIconBackgroundHistoryImportData{
    background: url('#{request.contextPath}/contracts/green/images/template/iconspy24.png') no-repeat !important;
    background-position: 0px -96px !important;
}
.temIconBackgroundPassApproveCode{
    background: url('#{request.contextPath}/contracts/green/images/template/iconspy24.png') no-repeat !important;
    background-position: 0px -240px !important;
}
.temIconBackgroundPassApproveCodeNot{
    background: url('#{request.contextPath}/contracts/green/images/template/iconspy24.png') no-repeat !important;
    background-position: 0px -720px !important
}
.temIconBackgroundNotApproveCode{
    background: url('#{request.contextPath}/contracts/green/images/template/iconspy24.png') no-repeat !important;
    background-position: 0px -288px !important;
}
.temIconBackgroundNotCode{
    background: url('#{request.contextPath}/contracts/green/images/template/iconspy24.png') no-repeat !important;
    background-position: 0px -336px !important;
}
.temIconBackgroundInbox{
    background: url('#{request.contextPath}/contracts/green/images/template/iconspy24.png') no-repeat !important;
    background-position: 0px -384px !important;
}
.temIconBackgroundLogout{
    background: url('#{request.contextPath}/contracts/green/images/template/iconspy24.png') no-repeat !important;
    background-position: 0px -192px !important;
}
.temIconBackgroundImportTMT{
    background: url('#{request.contextPath}/contracts/green/images/template/iconspy24.png') no-repeat !important;
    background-position: 0px -480px !important;
}
.temIconBackgroundApproveCode{
    background: url('#{request.contextPath}/contracts/green/images/template/iconspy24.png') no-repeat !important;
    background-position: 0px -625px !important;
}
.temIconBackgroundSave{
    background: url('#{request.contextPath}/contracts/green/images/template/iconspy24.png') no-repeat !important;
    background-position: 0px -673px !important;
}
/*********** must be change ***********/
.temMenu3{
    display: block;
    color: #737373;
    font-weight: normal;
    font-size: 14px;
    font-family: tahoma;
    vertical-align: bottom;
    padding: 15px 20px 15px 45px;
    background: #fff url('#{request.contextPath}/contracts/green/images/template/vcalendar.png') no-repeat;
    background-position: 15px -35px; 
}
.temMenu3:hover{
    background: #f7f7f7 url('#{request.contextPath}/contracts/green/images/template/vcalendar.png') no-repeat;
    background-position: 15px -35px;
}
/*********** must be change ***********/
.temStatus{
    float:right;
    margin-right: 160px;
    margin-top: -45px;
    line-height: 50px;
    font-size: 13px;
    font-family: tahoma;
    font-weight: normal;
    color: #ffc000;
}

.temIconLogout{
    display: block;
    float: right;
    margin-left: 15px;
    width: 24px;
    height: 24px;
    background: url('#{request.contextPath}/contracts/green/images/template/iconlogout.png');
    margin-top: -38px;
}
.complet{
    position: absolute;
    width: 100%;
}
.iconRight{
    width: 150px;
    height: 35px;
}
.iconRight>.IconSub{
    margin: 0 !important;
}
.IconSub>div{
    height: 33px;
    border: 0px !important;
    outline: 0 !important;
    border-radius: 0 !important;
}
.IconSub>div>span{
    line-height: 33px !important;
    font-size: 13px;
    font-family: tahoma;
    font-weight: bold;
    padding:0px 15px 0px 15px !important;
}
.ui-layout-unit, .ui-layout-unit-content{
    padding: 0 !important;
}
.ui-widget-content{
    border: 0 !important;
}
.ui-layout-unit{
    font-family: tahoma;
    font-size: 13px;
}

.buttoncolor{
    position: absolute;
    top: 5px;
    right: 0;
}

/*/////////////////////// new menu ////////////////*/
.menunew{
    width: 100% !important;
}
.ui-menuitem>a{
    color: #737373;
    padding: 5px 15px 5px 15px !important;
    width: 88.7% !important;
}
.ui-menu.ui-widget li > .ui-menuitem-link{
    width: auto;
}
.ui-menuitem-text{
    height: 24px !important;
    line-height: 24px !important;
    padding-left: 10px !important;
}
.ui-menuitem:hover{
    background: #E4E4E4 !important;
}
.ui-menuitem>a:hover{
    background: transparent  !important;
    color: #000;
}
.ui-menuitem>a>span.ui-menuitem-text:hover{
    background: transparent  !important;
    color: #000;
}
.ui-menuitem>a>span{
    color: #000;
}
.ui-widget-header{
    padding: 5px 0px !important;
}
.errorBackground{
    background: #ff6666 !important;
}
.warnBackground{
    background: #ffcc00 !important;
}
.reSizeContent{
    padding:  10px !important;
}

.ui-datatable-header{
    text-align: left !important;
}
tr>th.ui-resizable-column{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.headtext{
    margin-left: 10px;
}
.headtextnoticon{
    margin-left: 34px;
}
.ui-datatable{
    background: #f5f5f5 !important;
    border: 1px solid #eeeeee;
    border-bottom: 0;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}
.ui-widget-header {
    border: 0 !important;
    background: transparent;
}

.iconsize24{
    display: block;
    width: 24px;
    height: 24px;
    float:left;
}
.headertitle{
    float: left;
    line-height: 24px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 1em;
}
.headermain{
    padding: 6px 0px;
    margin-bottom: 10px;
    border-bottom: 2px solid #ECECEE;
}
.textinfo{
    width: 100%;
}
.textinfo>tbody>tr>td{
    border-width: 0px !important;  
}
.textinfo>tbody>tr:nth-of-type(2n + 2){
    background: #fafafa!important;
}
.leftAlgin{
    width: 25px;
}
.rightAlgin{
    font-size: 14px;
    color: #444;
}
.pgiconnumber{
    padding: 5px 10px;
    background: #FF8A00;
    border-radius: 50px;
    color: #fff;
}
.clean-table tbody tr td{
    border: solid 1px;
    border-color: #ddd #F0F0F0 #E1E1E1 #F3F3F3;
}

.clean-table tbody tr:first-child td{
    border-top: 2px solid rgb(156, 156, 156);
}

.clean-table tbody tr{
    border-left: 2px rgb(162, 161, 161) solid !important;
    border-right: 2px rgb(162, 161, 161) solid !important;
}

.clean-table tbody{
    border-color: #999;
}

.clean-table{
    border-width: 0 0 1px 0 !important;
    background: none !important;
}

.clean-table + .clean-table thead{
    visibility: hidden;
}

.clean-table .ui-datatable-tablewrapper{
    border-bottom: 2px solid #7F7E7E;
}
.header-content{
    position: relative;
    padding: 10px 20px;
    background: #FF8A00;
    border-radius: 0;
    /*text-indent: 40px;*/
    font-size: 14px;
    font-weight: bold;
    font-family: tahoma;
    color: #fff;
    text-shadow: 0px 1px 1px rgb(206, 126, 0);
    border-bottom: 2px solid #C56B00;
    border-radius: 3px;
    -moz-border-radius: 3px;
}
.header-content i{
    font-size: 16px;
    margin-right: 10px;
}
.header-content-sub{
    margin-top: 20px;
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
    font-size: 14px;
    color: #444;
}
.header-content-sub i{
    font-size: 15px;
    margin-right: 10px;
}
.ui-panelgrid .ui-panelgrid-cell{
    padding: 4px 5px;
    border: none;
}
.sub-menu  ul  li{
    border-radius: 2px!important;
    background-color: #f7f7f7;
    border-bottom: 1px solid #82898E !important;
}
.sub-menu  ul  li a{
    padding: 0!important;
    margin: 0!important;
}
.sub-menu  ul  li a span{
    color:#444;
    font-weight: bold;
    margin: 0 !important;
    padding: 5px 15px !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.21);
}
.sub-menu  ul  li:hover , .sub-menu  ul  li:focus {
    background-image: none !important;
    background: #4CAF50 !important;
    border-radius: 2px!important;
}
.sub-menu  ul  li:hover a span, .sub-menu  ul  li:focus a span{
    color:#fff !important;
}
.sub-menu ul  li:not(:first-child){
    margin-left: 5px;
}
.sub-menu {
    background-image: none !important;
    background-color: #BDC3C7 !important;
    border-bottom: 2px solid #9C9E9E!important;
    margin-bottom: 10px !important;
    margin-top: -5px !important;
}