body{
    margin: 0;
    background: #ECECEE;
}
a{
    text-decoration: none;
}
#temHead{
    display: block;
    height: 60px;
    background: #3b9c9d;
    overflow: hidden;
}
#temLogo{
    display: block;
    width: 225px;
    height: 45px;
    background: url('#{request.contextPath}/contracts/green/images/template/logo_g.png') no-repeat;
}
#temLeft{
    display: block;
    left: 0;
    position: absolute;
    width: 250px;
    float: left;
    background: #fff;
}
#temLeft2{
    display: block;
    left: 0;
    position: absolute;
    width: 35px;
    float: left;
    background: #fff;
}
#temRight{
    display: block;
    top: 0;
    position: absolute;
}
.temTab{
    display: block;
    background: #ececee;
    width: 100%;
    height: 35px;
}
.temIcon{
    float:right;
    display: block;
    width: 35px;
    height: 35px;
    background: url('#{request.contextPath}/contracts/green/images/template/icontogle.png');
    cursor: pointer;
}
.temIcon:hover{
    background: url('#{request.contextPath}/contracts/green/images/template/icontoglehover.png');
}
.temIcon2{
    float:right;
    display: block;
    width: 35px;
    height: 35px;
    background: url('#{request.contextPath}/contracts/purple/images/template/icontogle.png');
    cursor: pointer;
}
.temIcon2:hover{
    background: url('#{request.contextPath}/contracts/purple/images/template/icontoglehover.png');
}
.temMenu{
    text-decoration: none;
    display: block;
    color: #737373;
    font-weight: normal;
    font-size: 14px;
    font-family: tahoma;
    vertical-align: bottom;
    padding: 15px 15px 15px 15px;
    line-height: 24px;
    background: #fff;
}
.temMenu:hover{
    color: #000;
    background: #f7f7f7;
}
.temIconSize24{
    width: 24px;
    height: 24px;
    float: left;
}
.temMarginRight5{
    margin-right: 5px;   
}
.temMarginRight10{
    margin-right: 10px;   
}
.temMarginRight15{
    margin-right: 15px;   
}
.temMarginRight20{
    margin-right: 20px;   
}
.temMarginLeft5{
    margin-right: 5px;   
}
.temMarginLeft10{
    margin-right: 10px;   
}
.temMarginLeft15{
    margin-right: 15px;   
}
.temMarginLeft20{
    margin-right: 20px;   
}
.temIconBackgroundHome{
    background: url('#{request.contextPath}/contracts/green/images/template/iconspy24.png') no-repeat !important;
    background-position: 0px 0px !important;
}
.temIconBackgroundImportData{
    background: url('#{request.contextPath}/contracts/green/images/template/iconspy24.png') no-repeat !important;
    background-position: 0px -144px !important;
}
.temIconBackgroundHistoryImportData{
    background: url('#{request.contextPath}/contracts/green/images/template/iconspy24.png') no-repeat !important;
    background-position: 0px -96px !important;
}
.temIconBackgroundPassApproveCode{
    background: url('#{request.contextPath}/contracts/green/images/template/iconspy24.png') no-repeat !important;
    background-position: 0px -240px !important;
}
.temIconBackgroundNotApproveCode{
    background: url('#{request.contextPath}/contracts/green/images/template/iconspy24.png') no-repeat !important;
    background-position: 0px -288px !important;
}
.temIconBackgroundNotCode{
    background: url('#{request.contextPath}/contracts/green/images/template/iconspy24.png') no-repeat !important;
    background-position: 0px -336px !important;
}
.temIconBackgroundInbox{
    background: url('#{request.contextPath}/contracts/green/images/template/iconspy24.png') no-repeat !important;
    background-position: 0px -384px !important;
}
.temIconBackgroundLogout{
    background: url('#{request.contextPath}/contracts/green/images/template/iconspy24.png') no-repeat !important;
    background-position: 0px -192px !important;
}
.temIconBackgroundImportTMT{
    background: url('#{request.contextPath}/contracts/green/images/template/iconspy24.png') no-repeat !important;
    background-position: 0px -480px !important;
}
.temIconBackgroundApproveCode{
    background: url('#{request.contextPath}/contracts/green/images/template/iconspy24.png') no-repeat !important;
    background-position: 0px -625px !important;
}
.temIconBackgroundSave{
    background: url('#{request.contextPath}/contracts/green/images/template/iconspy24.png') no-repeat !important;
    background-position: 0px -673px !important;
}
/*********** must be chenge ***********/
.temMenu3{
    display: block;
    color: #737373;
    font-weight: normal;
    font-size: 14px;
    font-family: tahoma;
    vertical-align: bottom;
    padding: 15px 20px 15px 45px;
    background: #fff url('#{request.contextPath}/contracts/green/images/template/vcalendar.png') no-repeat;
    background-position: 15px -35px; 
}
.temMenu3:hover{
    background: #f7f7f7 url('#{request.contextPath}/contracts/green/images/template/vcalendar.png') no-repeat;
    background-position: 15px -35px;
}
/*********** must be chenge ***********/
.temStatus{
    float:right;
    margin-right: 130px;
    margin-top: -45px;
    line-height: 50px;
    font-size: 13px;
    font-family: tahoma;
    font-weight: normal;
    color: #ffc000;

}

.temIconLogout{
    display: block;
    float: right;
    margin-left: 15px;
    width: 24px;
    height: 24px;
    background: url('#{request.contextPath}/contracts/green/images/template/iconlogout.png');
    margin-top: -38px;
}
.complet{
    position: absolute;
    width: 100%;
}
.iconRight{
    width: 150px;
    height: 35px;
}
.iconRight>.IconSub{
    margin: 0 !important;
}
.IconSub>div{
    height: 33px;
    border: 0px !important;
    outline: 0 !important;
    border-radius: 0 !important;
}
.IconSub>div>span{
    line-height: 33px !important;
    font-size: 13px;
    font-family: tahoma;
    font-weight: bold;
    padding:0px 15px 0px 15px !important;
}
.ui-layout-unit, .ui-layout-unit-content{
    padding: 0 !important;
}
.ui-widget-content{
    border: 0 !important;
}
.ui-layout-unit{
    font-family: tahoma;
    font-size: 13px;
}

.buttoncolor{
    position: absolute;
    top: 5px;
    right: 0;
}

/*/////////////////////// new menu ////////////////*/
.menunew{
    width: 100% !important;
}
.ui-menuitem>a{
    color: #737373;
    padding: 5px 15px 5px 15px !important;
    width: 88.7% !important;
}
.ui-menu.ui-widget li > .ui-menuitem-link{
    width: auto;
}
.ui-menuitem-text{
    height: 24px !important;
    line-height: 24px !important;
    padding-left: 10px !important;
}
.ui-menuitem:hover{
    background: #E4E4E4 !important;
}
.ui-menuitem>a:hover{
    background: transparent  !important;
    color: #000;
}
.ui-menuitem>a>span.ui-menuitem-text:hover{
    background: transparent  !important;
    color: #000;
}
.ui-menuitem>a>span{
    color: #000;
}
.ui-widget-header{
    padding: 5px 0px !important;
}
.errorBackground{
    background: #ff6666 !important;
}
.warnBackground{
    background: #ffcc00 !important;
}
.reSizeContent{
    padding:  10px !important;
}